.searchBox {
    display: flex;
    justify-content: flex-end;
}
.toolbar {
    border-top: 1px solid rgba(230, 230, 234, 0.7);
}

.tableHead {
    display: flex;
    flex-direction: row;
    li{
        padding:0;
        width: auto;
    }
}

.mailList {
    border-top: 1px solid rgba(230, 230, 234, 0.7);
    li{
        padding:8px 10px 8px 0;
        width: auto;
         div {
            display: flex;
            align-items: center;
         }
         [class~="MuiListItemButton-root"]{
            padding: 0;
         }
    }
    .mailBox {
        display: flex;
        flex-direction: row;
        width:100%;
    }
    .bookmark {
        padding: 8px;
    }
    .toggleRead {
        padding-right: 39px;
    }
    .sender {
        width: 219px;
    }
    .emailTitle {
        flex: 1 1 0%;
    }
    .date {
        width: 160px;
        justify-content: flex-end;
    }
}