.buttonTop {
    padding: 16px 18px 0;
    width: 100%;
    justify-content: center;
    button {
        width: 50%;
        height: 36px;
    }
}
ul.topMenu {
    padding: 16px 18px 8px 18px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        justify-content: space-between;
        width: 25%;
        font-size: 11px;
        line-height: 18px;
        color: #929394;
        & >  div {
            width: 100%;
            &:focus-visible {
                outline: 1px solid #000;
            }
        }
        span, svg {
            margin-top: 2px;
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 500;
            color: #000; 
        }
    }
    .listBtn {
        padding:0;
        flex-direction: column;
    }
    .listIcon {
        justify-content: center;
    }
}