.lnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
    height: 100%;
    border-right: 1px solid #ddd;
    .smartList {
        border-top: 1px solid #e6e6e6;
    }
    .settingList {
        border-top: 1px solid #e6e6e6;
    }
}